Repository thibaudcolas/wagtail-fork: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
    generate-config:
      jobs:
        - path-filtering/filter:
            base-revision: main
            config-path: .circleci/build_config.yml
            mapping: |
              (wagtail/.*|setup\.py|setup\.cfg) backend true
              (client/.*|docs/_static/.*|gulpfile.js/.*|wagtail/.*/static_src/.*|.eslintrc|.nvmrc|.stylelintrc.yaml|package.json|package-lock.json|tsconfig.json) frontend true

Only run Circle CI jobs if appropriate files have been changed
  .circleci/conditional-builds.sh
  .circleci/config.yml
  .circleci/groups.json
Due: none

Try out CircleCI path filtering
  .circleci/build_config.yml
  .circleci/conditional-builds.sh
  .circleci/config.yml
  .circleci/groups.json
Due: none

Add scheduled pipeline
  .circleci/build_config.yml
Due: none

Remove useless dist script
  .circleci/config.yml
  .squash.yml
  package.json
Due: frontend

Add front-end build
  .circleci/config.yml
Due: none

Try again
  .circleci/config.yml
Due: none

Clean up configuration
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Make a trivial change in the backend group for testing
  .github/workflows/test.yml
  wagtail/__init__.py
Due: backend

Test triggering front-end build on Circle CI
  client/README.md
Due: frontend

Set up demo Percy integration
  .circleci/config.yml
  .percy.js
  client/tests/integration/editbird.test.js
  client/tests/integration/editor.test.js
  client/tests/integration/groups.test.js
  client/tests/integration/homepage.test.js
  client/tests/integration/jest.config.js
  client/tests/integration/listing.test.js
  client/tests/integration/package-lock.json
  client/tests/integration/package.json
  client/tests/integration/setupTests.js
  client/tests/integration/users.test.js
  package-lock.json
  package.json
  wagtail/test/settings_ui.py
Due: backend, frontend

Set up demo Percy integration (#4)
  .circleci/config.yml
  .percy.js
  client/tests/integration/editbird.test.js
  client/tests/integration/editor.test.js
  client/tests/integration/groups.test.js
  client/tests/integration/homepage.test.js
  client/tests/integration/jest.config.js
  client/tests/integration/listing.test.js
  client/tests/integration/package-lock.json
  client/tests/integration/package.json
  client/tests/integration/setupTests.js
  client/tests/integration/users.test.js
  package-lock.json
  package.json
  wagtail/test/settings_ui.py
Due: backend, frontend

Add regressions
  client/scss/components/_forms.scss
  client/scss/settings/_variables.scss
  wagtail/admin/static_src/wagtailadmin/scss/layouts/page-editor.scss
  wagtail/admin/templates/wagtailadmin/admin_base.html
  wagtail/admin/templates/wagtailadmin/icons/snippet.svg
Due: backend, frontend

Remove logical properties compatibility styles for Safari 13
  client/scss/components/_button.scss
  client/scss/components/_dropdown.legacy.scss
  client/scss/components/_footer.scss
  client/scss/components/_forms.scss
  client/scss/components/_header.scss
  client/scss/components/_help-block.scss
  client/scss/components/_listing.scss
  client/scss/components/_loading-mask.scss
  client/scss/components/_modals.scss
  client/scss/components/_skiplink.scss
  client/scss/components/_tooltips.scss
  client/scss/elements/_elements.scss
  client/scss/elements/_forms.scss
  client/scss/objects/_avatar.scss
  client/scss/overrides/_utilities.dropdowns.scss
  client/scss/overrides/_vendor.datetimepicker.scss
  client/src/components/CommentApp/components/Comment/style.scss
  client/src/components/CommentApp/components/CommentHeader/style.scss
  client/src/components/CommentApp/main.scss
  client/src/components/Draftail/Tooltip/Tooltip.js
  client/src/components/Draftail/Tooltip/Tooltip.scss
  client/src/components/Draftail/Tooltip/__snapshots__/Tooltip.test.js.snap
  client/src/components/Draftail/blocks/MediaBlock.scss
  client/src/components/Draftail/blocks/__snapshots__/MediaBlock.test.js.snap
  client/src/components/PageExplorer/PageExplorer.scss
  client/src/components/Sidebar/Sidebar.scss
  client/src/components/Sidebar/SidebarPanel.scss
  client/src/components/Sidebar/menu/MenuItem.scss
  client/src/components/Sidebar/menu/SubMenuItem.scss
  client/tailwind.config.js
  wagtail/admin/static_src/wagtailadmin/scss/layouts/404.scss
  wagtail/admin/static_src/wagtailadmin/scss/layouts/home.scss
  wagtail/admin/static_src/wagtailadmin/scss/layouts/login.scss
  wagtail/admin/static_src/wagtailadmin/scss/layouts/page-editor.scss
  wagtail/admin/static_src/wagtailadmin/scss/userbar.scss
  wagtail/contrib/typed_table_block/static_src/typed_table_block/scss/typed_table_block.scss
  wagtail/documents/static_src/wagtaildocs/scss/add-multiple.scss
  wagtail/images/static_src/wagtailimages/scss/add-multiple.scss
  wagtail/project_template/home/static/css/welcome_page.css
Due: backend, frontend

Demo requesting changes in Percy
  README.md
Due: none

Move files
  client/scss/generic/_generic.scss
  client/scss/generic/_normalize.scss
  client/scss/layouts/_404.scss
  client/scss/layouts/_account.scss
  client/scss/layouts/_add-multiple.scss
  client/scss/layouts/_chooser-duplicate-upload.scss
  client/scss/layouts/_compare-revisions.scss
  client/scss/layouts/_focal-point-chooser.scss
  client/scss/layouts/_groups-edit.scss
  client/scss/layouts/_home.scss
  client/scss/layouts/_login.scss
  client/scss/layouts/_modeladmin-breadcrumbs.scss
  client/scss/layouts/_modeladmin-choose-parent-page.scss
  client/scss/layouts/_modeladmin.scss
  client/scss/layouts/_page-editor.scss
  client/scss/layouts/_redirects.scss
  client/scss/layouts/_report.scss
  client/scss/layouts/_workflow-edit.scss
  client/scss/layouts/_workflow-progress.scss
  client/scss/vendor/jquery-ui-1.10.3.verdant.css
  client/scss/vendor/jquery.tagit.css
  client/scss/vendor/tagit.ui-zendesk.css
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/animated-overlay.gif
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_0_aaaaaa_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_100_246060_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_100_49c0c1_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_100_e8f8f9_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_100_f7474e_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_100_ffffff_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-bg_flat_65_49c0c1_40x100.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-icons_222222_256x240.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-icons_49c0c1_256x240.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-icons_555555_256x240.png
  wagtail/admin/static_src/wagtailadmin/css/vendor/jquery-ui/images/ui-icons_ffffff_256x240.png
  wagtail/documents/static_src/wagtaildocs/scss/add-multiple.scss
Due: backend, frontend

Fix linting issues
  client/scss/generic/_normalize.scss
  client/scss/layouts/_login.scss
  client/scss/layouts/_modeladmin-breadcrumbs.scss
  client/scss/layouts/_modeladmin.scss
  client/scss/layouts/_redirects.scss
  client/scss/layouts/_workflow-edit.scss
Due: frontend

Trial removing all images
  client/scss/vendor/jquery-ui-1.10.3.verdant.css
Due: frontend
